/* HEADER */
header {
  height: 120px;
  background-color: white;

  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .search {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > input {
      all: unset;
      background-color: lightgray;
      height: 39px;
      width: 630px;
      border-radius: 5px;
      padding-left: 10px;
      box-sizing: border-box;
    }
  }
  .buttons {
    display: flex;
    .blocLog {
      margin-right: 40px;
    }
  }
  .prefSearch {
    display: flex;
    align-items: center;
    margin-top: 15px;

    .trie {
      display: flex;
      width: 170px;
      align-items: center;
      justify-content: space-between;
      margin-right: 20px;

      .rc-switch {
        background-color: #007782;
      }

      .rc-switch-checked {
        background-color: #007782;
      }
    }

    .range {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }
}
