/* GENERAL */

.container {
  max-width: 1280px;
  margin: 0 auto;
  border: 2px solid black;
  box-sizing: border-box;
}

/* MAIN */
main {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid green; */
}
/* FOOTER */
footer {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid blue;
}
