.payment-root {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 1000;

  .modal {
    background-color: white;
    width: 500px;
    height: 500px;
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 25px;

    .contentModal {
      width: 80%;
      height: 100%;
      margin: 0 auto;

      .done {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        span {
          font-size: 40px;
        }
      }

      .formPay {
        padding: 0 20px;
      }

      h1 {
        font-size: 20px;
        margin-top: 50px;
        margin-bottom: 20px;
        text-align: center;
        color: #007782;
      }
      p {
        font-size: 12px;
        text-align: center;
        text-decoration: underline;
        margin-bottom: 50px;
      }
      .buy {
        width: 70%;
        margin: 50px auto;
        text-align: center;
        background-color: #007782;
        color: white;
      }
    }

    .btnClose {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px;
      font-size: 30px;
    }
  }
}
