.modal-root {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 1000;

  .modal {
    background-color: white;
    width: 500px;
    height: 500px;
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 25px;

    .contentModal {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
    }

    .btnClose {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px;
      font-size: 30px;
    }
  }
}
